.cityNameText {
    font-size: 3vw;
    font-weight: 600;
    border: 2px solid red;
}

.forecastText {
    font-size: 2vw;
    font-weight: 500;
    color: rgb(100, 100, 100);
    border: 2px solid red;
}

.forecastContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid red;
}

.weatherImage {
    max-width: 12vw;
    width: 100%;
    height: auto;
    border: 2px solid red;
}

.temperatureText {
    font-size: min(10vw, 80px);
    border: 2px solid red;
    margin-left: 0.3em;
}