.cityNameText {
    font-size: 3vw;
    font-weight: 600;
}

.forecastText {
    font-size: 2vw;
    font-weight: 500;
    color: #343a40;
}

.forecastContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.weatherImage {
    max-width: 12vw;
    width: 100%;
    height: auto;
}

.temperatureText {
    font-size: min(10vw, 80px);
    margin-left: 0.3em;
}