.weeklyTileContainer {
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
}
.date {
    text-align: center;
}

.templow {
    color: #343a40;
}

.weatherImage {
    max-width: 6vw;
    height: auto;
    text-align: center;
    align-items: center;

}

.tempText {
    display: flex;
    /* text-align: center;
    align-items: center; */
    justify-content: center;
}