.weeklyViewContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 10px solid pink;
    /* max-width: 80%; */
    text-align: center;
}